<div class="container d-flex flex-column align-items-center mt-5">

  <div>
    <h2 class="d-flex justify-content-center">Kraje</h2>
    <ul>
      <li *ngFor="let country of countries" class="m-3">
        <span>{{ country.name }}</span> - <span>{{ country.capital }}</span> - <span>{{ country.population }}</span>
        <button (click)="editCountry(country)" class="ms-3 btn btn-primary">Edytuj</button>
      </li>
    </ul>
  </div>

  <app-country-details [country]="selectedCountry" [isEditing]="isEditing" (editCountry)="onEditCountry()"
    (saveCountry)="onSaveCountry($event)" (cancelEdit)="onCancelEdit()"></app-country-details>
</div>
