<div class="container mt-5">
  <img src="assets/town.jpg" alt="town" class="img-fluid">
  <h1 class="mt-4">Ciekawostka o Częstochowie</h1>
  <p>Starą Częstochową uzyskała prawa miejskie pod koniec XIV wieku. Leżała wówczas na szlaku handlowym i szybko się
    rozwijała. W 1382 roku w sąsiedniej wsi Częstochówka na wzniesieniu Jasna Góra ufundowano klasztor. W czasie potopu
    szwedzkiego w XVII wieku jasnogórscy paulini złożyli hołd poddaństwa królowi Szwecji.</p>
  <p>Informacja z Onet.pl</p>
</div>
